{% extends "base.html" %}
{% block content %}
        <div class="container"> <!--구역 구분 용도--> <!--container = 양옆 여백-->
            <div class="row">
                <div class="col-4"> <!--col-4 = 12개의 구역을 4구역으로 좌측, 중앙, 우측 을 가짐 -->

                </div>
                <div class="col-4">
                    <div>
                        <hr>
                        <h3 class="pt-2 pd-2 text-center">상품 수정</h3> <!--start, center, end 로 글자 위치 조절--> <!--pt = padding top, pd = padding down 으로 위, 아래의 여백을 늘림 f12로도 확인 가능-->
                        <hr>
                    </div>
                    <form action="/products/{{product['_id']}}/update" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name" class="form-label">상품 등록</label>
                            <input name="name" value = "{{product['name']}}"type="text" class="form-control" id="name" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">상품 가격</label>
                            <input name="price" value = "{{product['price']}}" type="text" class="form-control" id="price">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">상품 설명</label>
                            <textarea name="description" type="text" class="form-control" id="description">{{product['description']}}</textarea> <!--textarea = input과는 다르게 크기 늘리기 가능-->
                        </div>
                        <div class="mb-3">
                            <label for="thumbnail_img" class="form-label">썸네일 이미지</label>
                            <input name="thumbnail_img" type="file" class="form-control" id="thumbnail_img">
                        </div>
                        <div class="mb-3">
                            <label for="detail_img" class="form-label">상세 이미지</label>
                            <input name="detail_img" type="file" class="form-control" id="detail_img">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">상품 등록</button> <!--w-100 = 가로값 100%로 채우기-->
                    </form>
                </div>
                <div class="col-4">
                </div>
            </div>
        </div>
{% endblock %}